# meta
.vscode/
__pycache__/

# data
data/

# ref
ref/

# results
out/
log

# converted model ckpts
models/*
!models/*.py

# repo
repo/*
!repo/*.cmd

# sophon sdk cpp
lib/sophon.zip
lib/sophon/*
!lib/sophon/sail.py
