# meta
.vscode/
__pycache__/

# data
data/

# ref
ref/

# results
out/
log

# converted model ckpts
models/*
!models/*.py

# repo
repo/*
!repo/*.cmd

# sophon sdk cpp
lib/sophon.zip
lib/sophon/*
!lib/sophon/sail.py

# doc
doc/*
!doc/基于TPU平台实现超分辨率重建模型部署-Absofastlutely-答辩PPT.pdf
